<div class="container py-5 w">
  <h1>Formulaire de contact</h1>

  <form class="p-md-5 border rounded-3 bg-body-tertiary">
    <div class="form-floating mb-3">
      <input type="text" id="form4Example1" class="form-control" required />
      <label class="form-label" for="form4Example1">Nom</label>
    </div>

    <div class="form-floating mb-3">
      <input type="email" id="form4Example2" class="form-control" required />
      <label class="form-label" for="form4Example2">Email</label>
    </div>

    <div class="form-floating mb-3">
      <textarea class="form-control" id="form4Example3" required></textarea>
      <label class="form-label" for="form4Example3">Message</label>
    </div>

    <div class="form-check d-flex justify-content-left mb-3">
      <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
      <label class="form-check-label" for="form4Example4">
        J'accepte les conditions d'utilisation
      </label>
    </div>

    <button type="submit" class="w-100 btn btn-lg btn-primary">Envoyer</button>
  </form>
</div>